.selections {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("/images/pages/index/bg-main.jpg") 0 0/cover no-repeat;
    position: relative;
}

.selections::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
    z-index: 1; /* Псевдоэлемент должен быть под содержимым */
}

.selections__container {
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 32px 24px;
    background: url("/images/pages/selections/bg.gif") 0 0/cover no-repeat;
    color: #fff;
    border-radius: 16px;
    z-index: 2;
}

.selections__title {
    margin-bottom: 24px;
    text-align: center;
}

.selections__wrap {
    display: grid;
    grid-template-columns: min-content auto 1fr;
    grid-column-gap: 24px;
}

.selections__cards {
    display: grid;
    grid-row-gap: 24px;
    justify-content: flex-start;
}

.selections__card {
    cursor: pointer;
    filter: grayscale(80%);
}

.selections__image {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.selections__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
}

.selections__card:hover {
    filter: grayscale(0%);
}

.selections__card--active {
    filter: grayscale(0%);
}

.selections__type {
    color: #fff;
    text-align: left;
}

.selections__person {
    overflow: hidden;
}

.selections__animate {
    margin-top: -120px;
}

.selections__description {
    font-size: 20px;
    line-height: 24px;
}

.selections__stats, .selections__description, .selections__professions {
    margin-bottom: 24px;
}

.selections__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selections__subtitle {
    margin-bottom: 12px;
}

.selections__info {
    background-color: rgba(#333, 0.7);
    padding: 24px;
    border-radius: 8px;
}

.selections__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selections__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

.selections__items {
    margin-bottom: 12px;
}

.selections__item-name {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
}

.selections__item-val {
    font-size: 20px;
    line-height: 24px;
    display: inline;
    margin-left: 4px;
}

