.inventory {
    padding: 12px;
    color: var(--white);
    position: relative;
}

.inventory__wrap {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
}


.inventory__slots {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 4px;
    max-height: 170px;
    overflow-y: auto;
}

.inventory__slot {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: grey;
    border: 1px solid var(--black1);
    border-radius: 4px;
    cursor: pointer;
}

.inventory__count {
    position: absolute;
    display: block;
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    padding: 2px 2px 2px 0;
    transform: translateY(-2px);
    z-index: 5;
}

.inventory__description {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    font-style: italic;
    color: var(--white);
}

.inventory__filters {
    display: flex;
    align-items: center;
    grid-column-gap: 6px;
}

.inventory__button {
    color: #fff;
}

.inventory__context {
    display: block;
    color: var(--white);
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 12px;
    background: url("/images/global/bg-parchment.jpg") 0 0/cover no-repeat;
    border-radius: 4px;
    padding: 10px;
    position: absolute;
    top: calc(100% + 148px);
    left: -100%;
    width: 200%;
    z-index: 18;
}

.inventory--craft .inventory__context {
    top: calc(100% + 12px);
}

.inventory__slot--context {
    background-color: var(--grey);
}

.inventory__slot--context .inventory__context {
    display: flex;
}

.inventory__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}

.inventory__stats {
    margin-bottom: 8px;
}

.inventory__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inventory__event {
    width: 100px;
    display: block;
}

.inventory__event:not(:last-child) {
    margin-bottom: 8px;
}

.inventory__filter-image {
    display: block;
    width: 24px;
    height: 24px;
}