.button--metal-sm {
    padding: 2px 4px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: linear-gradient(135deg, #7d7d7d, #3b3b3b);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.button--metal-sm::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
    transition: all 0.3s ease;
    mix-blend-mode: overlay; /* Эффект наложения для бордера */
}

.button--metal-sm:hover {
    background: linear-gradient(135deg, #6f6f6f, #2f2f2f);
}

.button--metal-sm.active {
    background: linear-gradient(135deg, #c0c0c0, #5a5a5a);
    //border: 3px solid #ffcc00; /* Золотая рамка для активной кнопки */
    box-shadow: 0 0 20px rgba(255, 204, 0, 0.7);
}

.button--metal-sm.active::before {
    background: rgba(255, 204, 0, 0.2); /* Более светлый эффект наложения для активности */
}